.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 30px 0;


}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #727272;
    color: #8a8a8a;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #00aeff;
}

.paginationActive a {
    color: white;
    background-color: #00aeff;
}

.paginationDisabled a {
    background-color: grey;
    pointer-events: none;
}

/* Button */

.btn {
    max-width: 80px;
}

.list_btn {
    display: flex;
}

.btn-delete,
.btn-edit {
    border-radius: 7px;
    padding: 10px 20px;
    border: ivory;
    color: white;
}

.btn-delete {
    background: red;
}

.btn-edit {
    background: rgb(0, 179, 255);
    margin-left: 15px;
}

.btn-list-notification {
    width: 200px;
    height: 50px;
    background-color: grey;
    color: white;
    border: grey;
    border-radius: 4px;
    margin: 20px 2.5%;
    font-size: 17px;
}

/* poup */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    max-height: 400px;
    padding: 20px 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}