@use '../../assets/scss/' as *;

$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;


// th,td{
//     border-left: 1px solid ;
//     width: 8em;

// }

// .wrapper{
//     border: 1px solid darken($baseColor, 5%);
//     border-radius: $borderRadius;
//     box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
//     max-width: calc(100% - 2em);
//     margin: 1em auto;
//     overflow: hidden;
//     width: 800px;
// }

// .wrapper .combobox{
//     position: static;
//     line-height: 2.5em;
// }
// label{
//     margin-left: 2em;
//     font-size: medium;
//     margin-inline: block;
// }
// .table{
//   background-color: rgb(255, 255, 255);
//   width: 90em;
//   margin:10px 5rem ;
// }

// thead{
//     margin: auto;
// }





.wrapper {
   border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 2000px;
   font-family: Arial, Helvetica, sans-serif;
   min-height: 300px;

}

table {
   width: 100%;

   td,
   th {
      color: darken($baseColor, 10%);
      padding: $padding;
   }

   td {
      text-align: center;
      vertical-align: middle;

      &:last-child {
         font-size: 0.95em;
         line-height: 1.4;
         text-align: left;
      }
   }

   th {
      background-color: lighten($baseColor, 50%);
      font-weight: 300;
   }

   tr {
      &:nth-child(2n) {
         background-color: white;
      }

      &:nth-child(2n+1) {
         background-color: lighten($baseColor, 55%)
      }
   }
}

th {
   
   border: solid 1px;
   border-left: none;
}
th:last-child{
   border-right: none ;
}

@media screen and (max-width: 700px) {

   table,
   tr,
   td {
      display: block;
   }

   td {
      &:first-child {
         position: relative;
         top: 50%;
         transform: translateY(-50%);
         width: $imageBig;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: $imageBig;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten($baseColor, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before {
         content: 'STT:';
      }

      &:nth-child(3):before {
         content: 'Mã Ô đỗ:';
      }

      &:nth-child(4):before {
         content: 'Biển số xe:';
      }

      &:nth-child(5):before {
         content: 'Comments:';
      }
   }

   tr {
      padding: $padding 0;
      position: relative;

      &:first-child {
         display: none;
      }
   }
}

@media screen and (max-width: 1000px) {




   td {
      &:first-child {
         background-color: lighten($baseColor, 45%);
         border-bottom: 1px solid lighten($baseColor, 30%);
         border-radius: $borderRadius $borderRadius 0 0;
         position: relative;
         top: 0;
         transform: translateY(0);
         width: 100%;
      }

      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;

         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }

      &:last-child {
         padding-bottom: 1rem !important;
      }
   }

   tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
      margin: 0.5rem 0;
      padding: 0;
   }

   .wrapper {
      border: none;
      box-shadow: none;
      overflow: visible;
   }
}

.combobox {
   width: 100%;
   position: absolute;
}

label {
   margin-left: 2em;
   line-height: 2em;
}

td {
   border-right: 1px solid;
}

select {
   @include border(solid, $gray-color, 1.5px);
   padding: 4px 10px;
   border-radius: 5px;
}

.combobox{
   background-color: white;
   align-items: center;
   line-height: 4rem;
   position: relative;

}
.combobox select {
   background-color: #68afe9;
   color: white;
   padding: 12px;
   border: none;
   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
   -webkit-appearance: button;
   appearance: button;
   outline: none;
 }
 
.combobox::before {
   content: "\f13a";
   position: absolute;
   top: 0;
   right: 0;
   width: 20%;
   height: 100%;
   text-align: center;
   font-size: 28px;
   line-height: 45px;
   color: rgba(255, 255, 255, 0.5);
   background-color: rgba(255, 255, 255, 0.1);
   pointer-events: none;
 }
 .combobox:hover::before {
   color: rgba(255, 255, 255, 0.6);
   background-color: rgba(255, 255, 255, 0.2);
 }
 .combobox select option {
   padding: 30px;
 }

 label{
   text-transform: uppercase;
   margin-right:1em ;
 }
 
$primary: #27e4d4;
$secondary: #25c562;
$white: rgb(1, 1, 1);
$gray: #0055ff;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
    font-family: inherit;
    width: 30%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
        color: transparent;
      }
      &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $gray;
    }

    .form__field:focus {
        ~ .form__label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: $primary;
          font-weight:700;    
        }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, $primary,$secondary);
        border-image-slice: 1;
      }.form__field{
        &:required,&:invalid { box-shadow:none; }
      }    

.form__group{
   margin-top: 1px;
   margin-bottom: 1rem;
   position: absolute;
   left: 70%;
   top:22%;

}
.gotoPage{
   background-color: white;
   border: 1px solid darken($baseColor, 5%);
   height: 3em;
   align-items: center;
   display: flex;
   justify-content: space-around;
   
}

button{
   font-size: 16px;
   margin: 2px;
   border: none;
   text-align: center;
   padding: 2px 5px;
   background-color: $baseColor;
   display: inline-block;
}
.gotoPage_item{
  margin-left: 50% ;
  margin-top: 10px;
  button:hover{
 
   padding: 5px 10px;
   background-color: #4CAF50; 
   
  }
 }