@use '../../assets/scss/' as *;


.filter {
    font-size: .8rem;
    color: $black-color;
    text-align: center;
    background-color: $white-color;
    width: 100%;
    @include border(solid, $gray-color, 1.5px);
    border-top: none;
    border-left: none;

    &__title {
        font-weight: 600;
        padding-top: 10px;
    }

    &__contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20px;
    }
}