@use '../assets//scss/' as *;

.rgt {
    h2 {
        text-align: center;
        color: red;
    }

    @include flex(start, center);


    &__name,
    &__MS,
    &__price,
    &__times,
    &__phone,
    &__CCCD,
    &__BSX {
        display: flex;
        margin: 10px 0px;
    }

        &__MS {
            p {
    
                color: red;
            }
        } &__price {
             p {
                font-size: 20px;
                font-weight: 700;
                 color: red;
             }
         }

    input {
        height: 36px;
        padding: 0 270px 0px 5px;
        border-left: none;
        border-right: none;
        @include border(solid, $gray-color, 1.5px);
        border-radius: 5px;
    }

    &__time {
        &__content {
            input {
                padding: 0 60px 0px 5px;
            }
        }
    }

    &__buttons {
        @include flex(center, end);
        display: flex;

        * {
            margin: 20px;
        }
    }
}