@use '../../assets/scss/' as *;

.header {
    width: 100%;
    transition: height .3s ease, background-color .3s ease;
    z-index: 100;

    &__image {
        height: $header-height - $navbar-height;
        background-image: url('../../assets/header-panel.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $white-color;
    }

    &__navbar {
        height: $navbar-height;
        background-image: $navbar-linear;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 5px;
        height: 100%;
        @include flex(center, space-between);
        &.container {
            padding: 0;
        }
        i {
            margin-right: 15px;
        }

        .header__list__navitem {
            .dropdown {
                margin-right: 40px;
            }
        }

        ul {
            @include flex(center, space-between);
            width: 35%;

            li {
                font-size: .8rem;
                font-weight: 600;

                a.active {
                    color: $red-color;
                }
            }
        }
    }



    &__user {
        font-weight: 600;

        i {
            margin-left: 15px;
        }

        &__info {
            position: relative;
        }

        &__info__list{
            display: none;
            position: absolute;
            top: 133%;
            right: 20px;
            min-width: 150px;
            background-color: #ffe3e3;
            border-radius: 8px;
            box-shadow: 0 0 15px 0px $main-color;
            transition: scale .3s ease;
            transform-origin: 92% top;
            animation: notifyScale ease-in 0.3s;
            z-index: 10; 
        }
        @keyframes notifyScale {
            from {
                opacity: 0;
                transform: scale(0);
            } to {
                opacity: 1;
                transform: scale(1);
            }
        }

        &__info__list::before {
            content: "";
            position: absolute;
            display: block;
            bottom: 100%;
            right: 12px;
            border-width: 9px 11px;
            border-style: solid;
            border-color: transparent transparent #ffe3e3 transparent;
            z-index: 11;
        }

        &__info::after {
            content: "";
            display: block;
            position: absolute;
            width: 180px;
            height: 20px;
            background-color: #ccc;
            opacity: 0;
        }

        &__info:hover >  .header__user__info__list {
            display: block;
        }
    }

    &.shrink {
        .header__navbar {
            background-image: $navbar-linear-reserved;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    }
}

.dropbtn {
    background-color: transparent;
    color: $txt-color;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: $txt-color ;
    button.active, a.active {
        color: $red-color;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}